<!DOCTYPE html>
<html>
  <head>
    <title><%=blocks.title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%-partial('../partials/topNavigation')%>
    <h1><%=blocks.title%></h1>
    <%-body%>
  </body>
</html>
